body {
  padding-top: 0.5rem;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url("../img/fondo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
  margin-top: 10rem;
}
main {
  width: calc(100% - 15rem);
  margin-left: auto;
  margin-right: auto;
}
header {
  background-color: rgba(26, 26, 26, 0.151);
  padding: 10px 0;
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.logo {
  max-width: 10rem;
  height: auto;
}

.logo:hover {
  animation: rotateLogo 2s infinite linear;
}

@keyframes rotateLogo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.progress {
  height: 5px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background-color: #e0e0e0;
}

.progress-bar {
  background-color: #007bff;
}

.navbar-light .navbar-nav .nav-link {
  color: #555;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  color: #d6249f;
  text-decoration: none;
  transform: translateY(-2px);
}

.navbar-brand {
  transition: transform 0.3s ease-in-out;
}

.navbar-brand:hover {
  transform: scale(1.1);
}

.navbar-collapse {
  justify-content: center;
}
.img {
  align-self: center;
}

@media (max-width: 768px) {
  .navbar-brand {
    font-size: 1rem;
  }

  .navbar-nav .nav-link {
    padding: 0.5rem 1rem;
  }
}

.carousel {
  margin-top: 8rem;
  background-color: #55555546;
  border-radius: 5rem;
}

#carrousel .text-center h2 {
  color: #333;
  margin-bottom: 0.5rem;
  font-weight: bold;
  text-align: center;
}

#carrousel .text-center p {
  color: #555;
  margin-bottom: 2rem;
}

.carousel-item {
  height: 30rem;
  transition: transform 0.5s ease;
}

.carousel-item img {
  max-height: 100%;
  width: auto;
  object-fit: contain;
  margin: auto;
  transition: transform 0.5s ease;
}

.carousel-item img:hover {
  transform: scale(1.25);
}
.quote {
  font-style: italic;
  color: #555;
  margin-top: 10px;
  margin-bottom: 10px;
}
.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.card-img-top {
  height: 13rem;
  object-fit: cover;
}

.card-body {
  background-color: rgba(255, 255, 255, 0.432);
}
#navbarScrollSpy {
  width: 3rem;
  position: flex;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 1000;
}

.nav-link {
  color: #007bff73;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.nav-link:hover {
  color: #0057b359;
}

.nav-link.active {
  color: white;
  background-color: #007bff5b;
}

.nav-link {
  color: #007bff73;
}

.nav-link:hover {
  color: #0057b359;
}

.nav-link.active {
  color: white;
  background-color: #007bff5b;
}

@media (min-width: 992px) {
  main {
    margin-left: 120px;
  }
}

section {
  scroll-margin-top: 5rem;
  padding: 5rem;
  background-color: rgba(255, 255, 255, 0.514);
  margin-bottom: 5rem;
  border-radius: 3rem;
  margin-top: 15rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-height: 100vh;
  scroll-behavior: smooth;
}

h2 {
  color: #4a4a4a;
  text-align: center;
  margin-bottom: 10px;
}

a {
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: #007bff;
}

.parallax-section {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffffb6;
  width: 100%;
  height: 100%;
}

.centered-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#miVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.parallax-section .container {
  position: absolute;
  z-index: 2;
}
.welcome-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  transition: opacity 1s ease, visibility 1s ease;
  opacity: 1;
  visibility: visible;
  z-index: 2;
  animation: fadeInOut 6s ease-in-out forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.welcome-overlay h1 {
  background-color: rgba(0, 0, 0, 0.75);
  border: 3px solid #858585;
  box-shadow: 0 0 15px #af4c99;
  padding: 30px;
  border-radius: 10px;
}

.welcome-overlay.fade-out {
  opacity: 0;
  visibility: hidden;
}

footer {
  background-color: rgba(35, 28, 56, 0.856);
  color: #d9d9d9;
  text-align: center;
  padding: 15px 0;
  backdrop-filter: blur(5px);
  position: fixed;
  bottom: 0;
  width: 75%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

@media (max-width: 768px) {
  header,
  footer {
    padding: 1rem 0;
  }
}
