.card {
    transition: transform 0.5s ease, box-shadow 0.3s ease;
    background-color: #acacac7c;
    box-shadow: 0 3px 5px rgba(155, 132, 0, 0.349);
    height: auto;
    overflow: hidden;
    text-overflow: ellipsis;
}


.card:not(:hover) {
    transition-delay: 0.5s;
    max-height: 150px; 
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(173, 147, 0, 0.349);
    max-height: none;
    transition-duration: 1s;
}
body {
    background: linear-gradient(to bottom, #2b2b2b, #012404); 
    background-attachment: fixed; 
}

.h1{
    font-family: 'Arial Black', sans-serif; 
    color: #ffd100;
    text-align: center;
    
    text-shadow: 2px 2px 4px rgba(189, 186, 186, 0.7); 
    margin-bottom: 40px;
    transition-duration: 1.5s;
}
.h1:hover{
    transform: scale(1.20);
    transition-duration: 1s;
}
