<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Login Pokemon</title>
  <link rel="stylesheet" href="/public/css/estilos.css">
</head>

<body>
  <h1>Login</h1>
  <form action="/login" method="post">
    <input type="text" name="username" placeholder="Username" required>
    <input type="password" name="password" placeholder="Password" required>
    <button type="submit">Login</button>
  </form>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      console.log('DOMContentLoaded event fired'); // Agrega esta línea para verificar
      const form = document.querySelector('form');

      form.onsubmit = function (event) {
        event.preventDefault();

        const username = document.querySelector('input[name="username"]').value;
        const password = document.querySelector('input[name="password"]').value;

        fetch('/login', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ username, password })
        })
          .then(response => response.json())
          .then(data => {
            if (data.token) {
              // Almacenar el token en localStorage
              localStorage.setItem('token', data.token);

              window.location.href = '/';
            } else {
              alert(data.message || 'Error al iniciar sesión.');
            }
          })
          .catch(error => console.error('Error:', error));
      };
    });
  </script>
</body>

</html>