<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Register</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>

  <div class="form-container">
    <form id="registerForm">
      <div class="login-container">
        <img src="/images/pokeball.png" alt="Pokeball Image">
      </div>
      <label for="username">Nombre de usuario:</label>
      <input type="text" id="username" name="username" placeholder="Introduce tu nombre de usuario" required>

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" placeholder="Introduce tu password" required>

      <button type="submit">Register</button>
      <button type="button" id="loginButton">Ya tienes una cuenta?</button>

    </form>
  </div>

  <script src="/js/register.js"></script>

</body>

</html>