/* Reset de estilos para el body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url(/images/bg.jpg) no-repeat center center fixed;
    background-size: cover;
  }
  
  /* Estilos para el contenedor del formulario */
  .form-container {
    max-width: 600px;
    margin: 50px auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilos para las etiquetas, input y select en el formulario */
  .form-container label,
  .form-container input,
  .form-container select {
    display: block;
    margin-bottom: 15px;
    width: 100%;
  }
  
  /* Estilos para el botón de enviar en el formulario */
  .form-container button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Estilos para el botón de enviar en el formulario al pasar el mouse */
  .form-container button:hover {
    background-color: #0056b3;
  }
  
  /* Estilos para la imagen de fondo del título */
  .title-container {
    text-align: center;
    margin: 20px 0;
  }
  
  .title-container h1 {
    font-size: 2.5em;
    color: #007bff;
    font-weight: bold;
  }
  
  /* Estilos para el campo de búsqueda y el botón de búsqueda */
  .search-filter-container {
    /* Agrega estilos según sea necesario */
  }
  
  /* Estilos para el filtro de tipo */
  .filter-container {
    /* Agrega estilos según sea necesario */
  }
  
  /* Estilos para la lista de Pokémon */
  .container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  /* Estilos para las tarjetas de Pokémon */
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url(/images/bg.jpg) no-repeat center center fixed;
    background-size: cover;
}


.title-container {
    text-align: center;
    margin: 20px 0;
}

.title-container h1 {
    font-size: 2.5em;
    color: #007bff;
    font-weight: bold;
}

.container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img {
    width: 100px;
    height: 100px;
}

.card {
    background-color: #ffffffe3;
    border: 1px solid #1c576e;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: auto;
}

.card h2 {
    margin: 0;
    padding: 10px;
    background-color: #f4f4f4;
}

.card a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #007bff;
    border-top: 1px solid #ddd;
}

.card a:hover {
    background-color: #f4f4f4;
}